.nav-menu {
   font-size: 15px;
   font-weight: 600 ;
   margin-bottom: 100px;
}

.ul-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
    padding: 0;
}
ol {
    padding: 0;
}
.app {
    display: flex;
    justify-content: space-between;
    height: 950px;
    padding: 20px;
}
.left-container {
    width: 20%;
    background-color: #0E0E0E;
    border-radius: 30px 0 0 20px ;
    display: flex;
    justify-content: center;

}
.right-container {
    width: 80%;
    background: linear-gradient(to bottom,#6B0000,#0E0E0E);
    border-radius: 0 30px 20px 0 ;
}

body {
    color: #F6F6F6;
    font-family: 'Poppins',sans-serif;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: black;
}

.tracks-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.tracks-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tracks-info {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.track {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.track-background {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.track-background-img {
    position: absolute;
    width: 1140px;
    height: auto;
}
.track-background-artist {
    position: relative;
    bottom: 11px;
    right: -300px;
}

.track-background-info {
    position: relative;
    left: -550px;
    top: 80px;
}
.track-background-info-logo {
    display: flex;
    align-items: center;
}
.button-upload {
    border-radius: 20px;
    padding: 10px;
    background-color: #380404;
    color: #F6F6F6;
    position: absolute;
    right: 100px;
}
