html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    img {
        width: 70px;
    }
}
.footer-info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}
.footer-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-toggle-bar {
    appearance: none;
    background: #0E0E0E;
    border-radius: 10px;
    height: 5px;
    width: 210px;
}

.footer-toggle-bar::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #6B0000; 
    cursor: pointer;
    border: none; 
}

.footer-toggle-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.nav-menu {
   font-size: 15px;
   font-weight: 600;
   padding: 40px;
}

.logo {
    padding: 35px;
}

.ul-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
    padding: 0;
    gap: 30px;
    margin: auto;
}
ol {
    padding: 0;
    cursor: pointer;
    a {
        text-decoration: none;
    }
    a:visited {
        color: inherit;
        
    }
}

.search {
    margin-left: 40px;
    background-color: #6B0000;
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
    text-align: center;
    border: none;
}
.search::placeholder {
    color: #F6F6F6;
    font-size: 17px;
    
}
.app {
    display: flex;
    justify-content: space-between;
    height: 1400px;
    padding: 20px;
}
.left-container {
    width: 20%;
    background-color: #0E0E0E;
    border-radius: 30px 0 0 20px ;
    display: flex;
    justify-content: center;

}
.right-container {
    width: 80%;
    background: linear-gradient(to bottom,#6B0000,#0E0E0E);
}
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    max-width: 1200px;
    padding: 35px;
    justify-content: center;
}

.track-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

body {
    color: #F6F6F6;
    font-family: 'Poppins',sans-serif;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: black;
}

.tracks-menu {
    text-align: center;
    margin-bottom: 30px;
}
.tracks-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tracks-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.tracks-info h3 {
    margin: 0;
    flex-shrink: 0;
}
.tracks-info h3:nth-child(1) {
    flex: 0 0 13%;
}
.tracks-info h3:nth-child(2) {
    flex: 0 0 13%;
}
.tracks-info h3:nth-child(3) {
    flex: 0 0 13%;
}
.tracks-info h3:nth-child(4) {
    flex: 0 0 13%;
}
.tracks-info h3:nth-child(5) {
    flex: 0 0 13%;
}
.tracks-info h3:nth-child(6) {
    flex: 0 0 13%;
}
.tracks-info h3:nth-child(7) {
    flex: 0 0 13%;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 35px;
    
    
    img {
        height: 100px;
        object-fit: contain;
        width: 150px;
    }
}

.track h4:nth-child(1) {
    flex: 0 0 13%;
}
.track h4:nth-child(2) {
    flex: 0 0 13%;
}
.track h4:nth-child(3) {
    flex: 0 0 13%;
}
.track h4:nth-child(4) {
    flex: 0 0 13%;
}
.track h4:nth-child(5) {
    flex: 0 0 13%;
}
.track img {
    flex: 0 0 13%;
}
.track button {
    flex: 0 0 13%;
}

.button-upload {
    border-radius: 20px;
    padding: 10px;
    background-color: #380404;
    color: #F6F6F6;
    margin-top: 50px;
}


.audio-form {
    background-color: #0E0E0E;
    border-radius: 0 30px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
}

.audio-form-playlists {
    background-color: #0E0E0E;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
    max-width: 800px;
    margin: auto;
    
    .audio-input  {
        padding: 10px;
        border-radius: 15px;
    }
    .audio-text  {
        padding: 10px;
        border-radius: 15px;
    }
    
}


.audio-input  {
  
}


.button-like {
    background: none;
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    
}

.div-button-upload {
    display: flex;
    justify-content: right;
    max-width: 1200px;
    margin: auto;
}



.playlist {
    text-align: center;
    font-size: 30px;
    img {
        height: 200px;
        object-fit: contain;
        margin-bottom: 30px;
    }
}
.playlists-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 200px;

}








@media (max-width: 1300px) {
    .app {
        flex-direction: column;
        height: auto;
    }
    .right-container {
        width: 100%;
        height: 1400px;
    }
    .left-container {
        width: 100%;
        height: 300px;
        border-radius: 30px 30px 0 0;
    }
    .ul-menu {
        flex-direction: row;
        height: auto;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        gap: 30px;
    }
    .nav-menu {
        width: 100%;
        padding: 0;
        font-size: 20px;
        ol {
            width: 170px;
            text-align: center;
        }
    }
    .search {
        margin: 0;
        margin-bottom: 30px;
        font-size: 17px;
    }
    .logo {
        padding: 0;
        font-size: 40px;
    }
    .container {
        padding-top: 100px;
    }

    .tracks-info h3:nth-child(4) {
        display: none;
    }

    .track h4:nth-child(4) {
        display: none;
    }
    .track img {
        width: 100px;
    }

    .nav-menu a[href='/favorites'] {
        font-size: 0;
    }
     .nav-menu a[href='/favorites']::after {
        content: 'Медиатека';
        font-size: 20px;
    }
     .nav-menu a[href='/playlists']::after {
        content: 'Медиатека';
        font-size: 20px;
    }
    .nav-menu a[href='/playlists'] {
        font-size: 0;
    }

}

@media (max-width: 810px) {
    .tracks-info h3:nth-child(3) {
        display: none;
    }

    .track h4:nth-child(3) {
        display: none;
    }
    header {
        width: 100%;
    }
}